<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--  $Author$  -->
<!--  $Date$  -->
<!--  $Rev$  -->
<!--  $HeadURL$  -->
<plist version="1.0">
<dict>
	<key>FRApplianceCategoryDescriptors</key>
	<array>
		<!--
		<dict>
			<key>identifier</key>
			<string>iTerm</string>
			<key>name</key>
			<string>Terminal</string>
			<key>preferred-order</key>
			<integer>201</integer>
			<key>path</key>
			<string></string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>FireFox</string>
			<key>alt-identifier</key>
			<string>firefox-bin</string>
			<key>name</key>
			<string>FireFox</string>
			<key>preferred-order</key>
			<integer>202</integer>
			<key>path</key>
			<string></string>
		</dict>
		-->
		<dict>
			<key>identifier</key>
			<string>Nestopia</string>
			<key>name</key>
			<string>Nintendo</string>
			<key>preferred-order</key>
			<real>100</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/NES/</string>
			<key>file-extensions</key>
			<string>nes,fds</string>
			<!-- uncomment this to close the EmulatorEnhancer dialog box
			<key>startup-script</key>
			<string>
              delay 5
              tell application "System Events"
              tell process "Nestopia"
                 click button 2 of front window
              end tell
              end tell
			</string>
			-->
			<key>up-button-script</key>
			<string> --Screenshot (type "S" key)
			  tell application "System Events"
			     tell application "Nestopia" to activate
			     delay 0.1
			     key down "S"
			     delay 0.1
			     key up "S"
			  end tell
			  set pathToROM to do shell script "cat ~/.pathToROM"
              do shell script "cd ~/Desktop; for f in *.png; do mv \"$f\" " &amp; pathToROM &amp; "\"${f%%.000.png}\".png; done"
			</string>
			<key>left-button-script</key>
			<string> --Defrost (type "D" key)
			  tell application "System Events"
			     tell application "Nestopia" to activate
			     delay 0.1
			     key down "D"
			     delay 0.1
			     key up "D"
			  end tell
			</string>
			<key>right-button-script</key>
			<string> --Freeze (type "F" key)
			  tell application "System Events"
			     tell application "Nestopia" to activate
			     delay 0.1
			     key down "F"
			     delay 0.1
			     key up "F"
			  end tell
			</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>zsnes</string>
			<key>alt-identifier</key>
			<string>ZSNES</string>
			<key>name</key>
			<string>Super Nintendo</string>
			<key>preferred-order</key>
			<real>101</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/SNES/</string>
			<key>file-extensions</key>
			<string>smc</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>sixtyforce</string>
			<key>name</key>
			<string>Nintendo 64</string>
			<key>preferred-order</key>
			<real>102</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/N64/</string>
			<key>file-extensions</key>
			<string>z64,v64</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Boycott Advance</string>
			<key>name</key>
			<string>Game Boy Advance</string>
			<key>preferred-order</key>
			<real>103</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/GBA/</string>
			<key>file-extensions</key>
			<string>gba,zip</string>
			<!-- uncomment this to close the EmulatorEnhancer dialog box
			<key>startup-script</key>
			<string>
              delay 5
              tell application "System Events"
              tell process "Boycott Advance"
                 click button 2 of front window
              end tell
              end tell
			</string>
			-->
			<key>up-button-script</key>
			<string> --Screenshot (type "S" key)
			  tell application "System Events"
			     tell application "Boycott Advance" to activate
			     delay 0.1
			     key down "S"
			     delay 0.1
			     key up "S"
			  end tell
			  set pathToROM to do shell script "cat ~/.pathToROM"
              do shell script "cd ~/Desktop; for f in *.png; do mv \"$f\" " &amp; pathToROM &amp; "\"${f%%.000.png}\".png; done"
			</string>
			<key>left-button-script</key>
			<string> --Defrost (type "D" key)
			  tell application "System Events"
			     tell application "Boycott Advance" to activate
			     delay 0.1
			     key down "D"
			     delay 0.1
			     key up "D"
			  end tell
			</string>
			<key>right-button-script</key>
			<string> --Freeze (type "F" key)
			  tell application "System Events"
			     tell application "Boycott Advance" to activate
			     delay 0.1
			     key down "F"
			     delay 0.1
			     key up "F"
			  end tell
			</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Genesis Plus</string>
			<key>name</key>
			<string>Sega Genesis</string>
			<key>preferred-order</key>
			<real>104</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/Genesis/</string>
			<key>file-extensions</key>
			<string>smd</string>
			<!-- uncomment this to close the EmulatorEnhancer dialog box
			<key>startup-script</key>
			<string>
              delay 5
              tell application "System Events"
              tell process "Sega Genesis"
                 click button 2 of front window
              end tell
              end tell
			</string>
			-->
			<key>up-button-script</key>
			<string> --Screenshot (type "S" key)
			  tell application "System Events"
			     tell application "Sega Genesis" to activate
			     delay 0.1
			     key down "S"
			     delay 0.1
			     key up "S"
			  end tell
			  set pathToROM to do shell script "cat ~/.pathToROM"
              do shell script "cd ~/Desktop; for f in *.png; do mv \"$f\" " &amp; pathToROM &amp; "\"${f%%.000.png}\".png; done"
			</string>
			<key>left-button-script</key>
			<string> --Defrost (type "D" key)
			  tell application "System Events"
			     tell application "Sega Genesis" to activate
			     delay 0.1
			     key down "D"
			     delay 0.1
			     key up "D"
			  end tell
			</string>
			<key>right-button-script</key>
			<string> --Freeze (type "F" key)
			  tell application "System Events"
			     tell application "Sega Genesis" to activate
			     delay 0.1
			     key down "F"
			     delay 0.1
			     key up "F"
			  end tell
			</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Mugrat</string>
			<key>name</key>
			<string>ColecoVision</string>
			<key>preferred-order</key>
			<real>105</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/Coleco/</string>
			<!-- uncomment this to close the EmulatorEnhancer dialog box
			<key>startup-script</key>
			<string>
              delay 5
              tell application "System Events"
              tell process "Mugrat"
                 click button 2 of front window
              end tell
              end tell
			</string>
			-->
			<key>up-button-script</key>
			<string> --Screenshot (type "S" key)
			  tell application "System Events"
			     tell application "Mugrat" to activate
			     delay 0.1
			     key down "S"
			     delay 0.1
			     key up "S"
			  end tell
			  set pathToROM to do shell script "cat ~/.pathToROM"
              do shell script "cd ~/Desktop; for f in *.png; do mv \"$f\" " &amp; pathToROM &amp; "\"${f%%.000.png}\".png; done"
			</string>
			<key>left-button-script</key>
			<string> --Defrost (type "D" key)
			  tell application "System Events"
			     tell application "Mugrat" to activate
			     delay 0.1
			     key down "D"
			     delay 0.1
			     key up "D"
			  end tell
			</string>
			<key>right-button-script</key>
			<string> --Freeze (type "F" key)
			  tell application "System Events"
			     tell application "Mugrat" to activate
			     delay 0.1
			     key down "F"
			     delay 0.1
			     key up "F"
			  end tell
			</string>
		</dict>
	</array>
</dict>
</plist>
