<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FRApplianceCategoryDescriptors</key>
	<array>
		<!--
		<dict>
			<key>identifier</key>
			<string>iTerm</string>
			<key>name</key>
			<string>Terminal</string>
			<key>preferred-order</key>
			<integer>99</integer>
			<key>path</key>
			<string></string>
		</dict>
		-->
		<dict>
			<key>identifier</key>
			<string>Nestopia</string>
			<key>name</key>
			<string>Nintendo</string>
			<key>preferred-order</key>
			<real>100</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/NES/</string>
			<key>file-extensions</key>
			<string>nes,fds</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>zsnes</string>
			<key>name</key>
			<string>Super Nintendo</string>
			<key>preferred-order</key>
			<real>101</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/SNES/</string>
			<key>file-extensions</key>
			<string>smc</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>sixtyforce</string>
			<key>name</key>
			<string>Nintendo 64</string>
			<key>preferred-order</key>
			<real>102</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/N64/</string>
			<key>file-extensions</key>
			<string>z64,v64</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Boycott Advance</string>
			<key>name</key>
			<string>Game Boy Advance</string>
			<key>preferred-order</key>
			<real>103</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/GBA/</string>
			<key>file-extensions</key>
			<string>gba,zip</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Genesis Plus</string>
			<key>name</key>
			<string>Sega Genesis</string>
			<key>preferred-order</key>
			<real>104</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/Genesis/</string>
			<key>file-extensions</key>
			<string>smd</string>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Mugrat</string>
			<key>name</key>
			<string>ColecoVision</string>
			<key>preferred-order</key>
			<real>105</real>
			<key>path</key>
			<string>/Users/frontrow/ROMs/Coleco/</string>
		</dict>
	</array>
</dict>
</plist>
