<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emulators</key>
	<dict>
		<key>ShortDescription</key>
		<string>Appliance used to navigate ROMs and play emulators</string>
		<key>ReleaseDate</key>
		<date>2009-04-15</date>
		<key>Developer</key>
		<string>bgan1982@mac.com</string>
		<key>Version</key>
		<string>1.4.1</string>
		<key>displayVersion</key>
		<string>1.4.1</string>
		<key>md5</key>
		<string>9e2b892f8b7a6fb5c04d217833f38d71cedf9021</string>
                <key>DisplayName</key>
                <string>EmulatorsPlugIn</string>
		<key>name</key>
		<string>Emulators</string>
		<key>desc</key>
		<string>http://emulatorsplugin.googlecode.com/files/README.txt</string>
		<key>URL</key>
		<string>http://emulatorsplugin.googlecode.com/files/Emulators_PlugIn_1.4.1.zip</string>
                <key>ImageURL</key>
                <string>http://emulatorsplugin.googlecode.com/files/emulators.png</string>
		<key>license</key>
		<string>http://emulatorsplugin.googlecode.com/files/LICENSE.txt</string>
	</dict>
</dict>
</plist>

