<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--  $Author$  -->
<!--  $Date$  -->
<!--  $Rev$  -->
<!--  $HeadURL$  -->
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.bgan1982.EmulatorsAppliance</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>fnrw</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSPrincipalClass</key>
	<string>EmulatorsAppliance</string>
	<key>FRAppliancePreferedOrderValue</key>
	<real>1.2</real>
	<key>FRApplianceOptionsCategoryDescriptors</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>About EmulatorsPlugIn...</string>
			<key>name</key>
			<string>About EmulatorsPlugIn...</string>
			<key>preferred-order</key>
			<integer>99</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Reset Emulators Preferences</string>
			<key>name</key>
			<string>Reset Emulators Preferences</string>
			<key>preferred-order</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Reset PlugIn Preferences</string>
			<key>name</key>
			<string>Reset PlugIn Preferences</string>
			<key>preferred-order</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>identifier</key>
			<string>Kill Finder</string>
			<key>name</key>
			<string>Kill Finder</string>
			<key>preferred-order</key>
			<integer>102</integer>
		</dict>
	</array>
</dict>
</plist>
