<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emulators</key>
	<dict>
		<key>ShortDescription</key>
		<string>Appliance used to navigate ROMs and play emulators</string>
		<key>ReleaseDate</key>
		<date>2009-06-20T20:50:28Z</date>
		<key>Developer</key>
		<string>bgan1982@mac.com</string>
		<key>Version</key>
		<string>2.0</string>
		<key>displayVersion</key>
		<string>2.0</string>
		<key>md5</key>
		<string>66b15c464cf147e24873f6689079e625</string>
		<key>DisplayName</key>
		<string>EmulatorsPlugin</string>
		<key>name</key>
		<string>Emulators</string>
		<key>desc</key>
		<string>http://emulatorsplugin.googlecode.com/svn/trunk/README.txt</string>
		<key>URL</key>
		<string>http://emulatorsplugin.googlecode.com/files/Emulators_PlugIn_2.0.zip</string>
		<key>ImageURL</key>
		<string>http://emulatorsplugin.googlecode.com/svn/trunk/Emulators.png</string>
		<key>license</key>
		<string>http://emulatorsplugin.googlecode.com/svn/trunk/LICENSE.txt</string>
	</dict>
</dict>
</plist>
