<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmulatorsPlugIn</key>
	<dict>
		<key>Version</key>
		<string>141</string>
		<key>displayVersion</key>
		<string>1.4.1</string>
		<key>md5</key>
		<string>c785f7f3f6ac451397ec3b5914283422</string>
		<key>name</key>
		<string>EmulatorsPlugIn</string>
		<key>theDesc</key>
		<string>http://emulatorsplugin.googlecode.com/files/README.txt</string>
		<key>theURL</key>
		<string>http://emulatorsplugin.googlecode.com/files/Emulators_PlugIn_1.4.zip</string>
		<key>thelicense</key>
		<string>http://emulatorsplugin.googlecode.com/files/LICENSE.txt</string>
		<key>Summary</key>
		<string>Appliance used to nagivate ROMs and play emulators</string>
	</dict>
</dict>
</plist>